.main-content {
    display: none;
}

/*Splash screen*/
.splash-screen {
    animation-name: fadeInOut;
    animation-duration: 4s;
    position: fixed;
    z-index: 100;
    background: #10101E;
    background: linear-gradient(90deg, rgba(16, 16, 30, 1) 0%, rgba(0, 198, 194, 1) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.splash-screen #logo {
    width: 25vh;
}

.splash-screen h1{
    font-size: 8vh;
    font-weight: 400;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: scale(1); }
    50% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; }
}

/*Background for main content*/
body {
    background: #10101E;
    background: linear-gradient(0deg, rgba(16, 16, 30, 1) 0%, rgba(0, 198, 194, 1) 100%);
    height: 100vh;
    margin: 0%;
    font-family: 'Fragment Mono', monospace;
}
