.main-content {
    display: block;
}
/*main content display none when block*/

/*Splash screen*/
.splash-screen {
    animation-name: fadeInOut;
    animation-duration: 4s;
    position: fixed;
    z-index: 100;
    background: #10101E;
    background: linear-gradient(90deg, rgba(16, 16, 30, 1) 0%, rgba(0, 198, 194, 1) 100%);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.splash-screen #splash-logo {
    width: 25vh;
}

.splash-screen h1{
    font-size: 8vh;
    font-weight: 400;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: scale(1); }
    50% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; }
}

/*Background for main content*/
body {
    background: #10101E;
    background: linear-gradient(0deg, rgba(16, 16, 30, 1) 0%, rgba(0, 198, 194, 1) 100%);
    height: 100vh;
    margin: 0%;
    font-family: 'Fragment Mono', monospace;
}

#logo {
    width: 8vh;
    padding: 1em;
}

/*Log in page styling*/
.log-in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 70vh;
}
.block-label {
    color: white;
    width: 34vh;          /* same width as .block */
    text-align: left;
    margin-bottom: 0.2em;
    font-size: 1.8vh;
}

.block {
    background-color: #10101E;
    color: white;
    padding: 1em;
    display: flex;
    align-items: right;
    flex-direction: column;
    width: 30vh;
    border-radius: 5px;
    border: 1px solid white;
}

.block form label {
    margin: 0em;
    font-weight: 300;
    font-size: 1.8vh;
}

.block form input {
    margin: 0.5em 0 0.5em 0;
    border-radius: 4px;
    padding: 0.7em 0 0.7em 0.3em;
    border: 0px;
}

::placeholder {
    color: #B3B3B3;
}

#email {
    margin-bottom: 1.2em;
}

#submit {
    background-color: #00C6C2;
    color: white;
    text-decoration: underline;
    margin-bottom: 0;
}

#forgot-password {
    text-decoration: underline;
    font-size: 1.8vh;
    margin: 0.1em 0.1em 1em;
    color: #D9D9D9;
}

.block form{
    display: flex;
    flex-direction: column;
}

.block button{
    text-decoration: underline;
    border-radius: 4px;
    margin: 0.5em 0 0.5em 0;
    border: 0;
    padding: 0.7em 0 0.7em 0.3em;
}

#log-in {
    background-color: #00C6C2;
    color: white;
}

#sign-up{
    background-color: #F9F2D7;
    color: #10101E;
}