FQDN=
DB_HOST=team05.db.service.consul
DB_PORT=3306
DBUSER=
DBPASS=
DATABASE=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_TRUST_HOST=
AUTH_URL=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
S3_BUCKET_NAME=
